---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include navbar.html %}

  <!-- Main Section -->
  <section class="hero is-fullheight" id="practice">
    <div class="hero-body">
      <div class="container">
        {% include blogpage-heading.html %}

        <div id="results-container"></div>

        <!-- Practice Cards Section -->
        <div class="columns is-multiline is-variable is-8" id="blog-card">
          {% assign practice_categories = site.data.practice-categories %}
          {% for item in practice_categories %}
            <div class="column is-12">
              <a href="{{ item.url }}">
                <div class="box" style="padding: 2rem;">
                  <h1 class="title is-size-4 has-text-left">{{ item.title }}</h1>
                  <div class="content has-text-grey has-text-left" style="margin-top: 0.75rem;">
                    {{ item.description }}
                    <hr class="has-background-grey">
                    <span class="has-text-grey">Go to → <span class="has-text-weight-semibold">{{ item.slug }}</span></span>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
